.background-blur {
  backdrop-filter: blur(8px);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 600px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px;
  border-radius: 10px;
  
}


/* ChooseCity */
.city-search {
  height: 40px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  color: rgb(46, 42, 42);
}

#search-section {
  display: flex;
  flex-direction: column;
}

#city-label {
  font-weight: bold;
  margin-right: 5px;
}

/* LoadingScreen */
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.spinner {
  margin-top: 15px;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  border-radius: 50%;
  box-shadow: 2px 2px white;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Main */
.main-grid {
  border-radius: 20px;
  padding: 20px;
}

.current-weather {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.current-weather-img {
  padding-top: 20px;
  width: 120px;
  
}

.card-container {
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding: 0 10px;
}

hr {
  border: none;
  background: white;
  height: 1px;
  width: 90%;
}

.weather-detail img {
  width: 40px;
}

.weather-detail {
  display: grid;
  grid-template-columns: 1fr;
}

.weather-detail-part {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2px;
}

/* WeekCard */
img {
  width: 40px;
}

.card {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-size: 13px;
  justify-content: space-between;
  font-weight: 500;
}

/* TextSearch */
.submit {
  background-color: white;
  padding: 12px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
}

.area-chart {
  height: 200px;
}



@media (max-width: 1000px){
  .app-container{
    width: 500px;
  }

}


@media (max-width: 600px){

  .background-blur{
    background-color: rgba(0, 0, 0, 0.3);
  }

  .app-container{
    width: 400px;
    background-color: transparent;
  }

  .current-weather-img{
    width: 80px;
    padding-top: 50px;
  }
  
  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 16px;
  }
}